.portfolio-p{
    padding: 8em 0em;
}

.project-ly{
    font-size: 35px;
    padding-left: 5em;
}

.portfolio{
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3em 5em;
}

.portfolio_img {
    padding-bottom: 2em;
}


.portfolio_img figure{
    overflow:hidden;
    text-align: center;
    cursor:pointer;
    width: 326px;
    height: 270px;
    border-radius: 6px;
    box-shadow: 2px 3px 5px #00000082;
    background: linear-gradient(hsl(0 50% 4% /0), hsl(0 0% 0% /10));
}

.portfolio-images{
    width: 100%;
    height: 39vh;
}

.portfolio-images:hover{
    opacity:0.2;
}

/* other styles*/

.contentItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4.5rem;
}

.article:hover{
    transform: scale(1.05)

}

.items-description{
    color: #e8e3e3;
    visibility: hidden;
    font-family: revert;
    font-weight: 400;
    box-shadow: 1px 3px 8px #6b6464;
    font-size: 18px;
    position: absolute;
    padding: 1em 0.8em;
    height: 28vh;
    border-radius: 5px;
    bottom: 23%;
    overflow: hidden;
    transform: translateX(100px);
    padding: 4em 0.8em 0 0.8em;
    background: linear-gradient(hsl(200deg 25% 48% / 81%), hsl(224deg 90% 11% / 92%) 20% , hsl(221deg 81% 15% / 50%));

}


.portfolio_img figure:hover .items-description{
    visibility: visible;
    transform:translateX(0%)
}

.card-p{
    font-size:18px;
    padding-top: 1em;
}

.enlace{
    cursor: pointer;
    border: 2px solid rgb(28 98 139);
    text-decoration: none;
    padding: 0.4em;
    font-size: 18px;
    color: rgb(28 98 139);
    border-radius: 5px;
    margin: 2em;
    box-shadow: 1px 0px 3px;
    font-weight: 800;
 
}


article{
    background: #131111c4;
    height: 22em;
    border-radius: 5px;
    box-shadow: 2px 5px 8px black;
}