@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Signika+Negative:wght@300;500;700&display=swap');
*{
    margin:0;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{

    font-family: cursive;
    background: linear-gradient(to right, #104190, #260658f0, #082972);
    /*background: rgb(7 22 54);*/
    animation:move 1s linear infinite forwards;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}




h2 {
    text-align: center;
    color: black;
    font-size: 42px;
    margin:0;
}

section{
    height: 95vh;
}


h1, h2, h3, h4, h5, h6 {
   
     font-weight: bold; 
     margin: 0; 
}

h4{
    font-size:20px;
}

.button-contact{
    padding: 1em;
    background: #061e4682;
    border-color: #1d5565;
    color: #c6baba;
    font-family: cursive;
    box-shadow: 2px 4px #060b1a;
}

